@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "./scss/vars";
@import "./scss/mixins";
@import "./scss/navigation";

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: $color-text;
}
.container {
  width: $width-container;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
header, section{
  z-index: 100;
}
.bg-gradient {
  @include gradient-bg-3($color-bg-start, $color-bg-middle, $color-bg-end);
}
.text-center {
  text-align: center;
}

@for $i from 1 to 5 {
  .height-#{$i} {
    height: #{$i}rem;
    line-height: #{$i}rem;
  }
}

.faberlic-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: $faberlic-header-height;
  max-height: $faberlic-header-height;
  margin-top: 10px;
  margin-bottom: 10px;
  img {
    max-height: $faberlic-header-height;
  }
  .logo {
  }
  @import "./scss/phones";
}

.business-steps {
  max-height: $wallet-header-height;
  height: $wallet-header-height;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  margin: 10px 0;
  .wallet {
    img {
      height: $wallet-header-height;
    }
  }
}

@import "./scss/slider";
@import "./scss/girls";
@import "./scss/buttons";
