nav {
  ul.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    li.nav-item {
      box-sizing: border-box;
      border-right: 1px solid $color-silver;
      &:hover {
        @include gradient-bg-3(
          $color-bg-end,
          $color-bg-middle,
          $color-bg-start
        );
      }
      a {
        display: block;
        text-decoration: none;
        color: $color-text;
        padding: 0 1rem;
        text-shadow: 1px 1px 1px $color-silver;
      }
      &:last-child {
        border-right: none;
      }
    }
  }
}
