/* Colors */
$color-faberlic: #cf0055;
// $color-bg-start: #a9f068;
$color-bg-start: #CCFF66;
$color-bg-middle: #ccff00;
// $color-bg-end: #feb645;
$color-bg-end: #FF9900;
$color-silver: rgb(192,192,192);
$color-text: #000;

/* Misc */
$width-container: 800px;
$faberlic-header-height: 100px;
$wallet-header-height: 100px;
$menu-items-count: 7;