
.icon-faberlic:before { content: '\e800'; } /* '' */
.icon-beeline:before { content: '\e801'; } /* '' */
.icon-megafon:before { content: '\e802'; } /* '' */
.icon-mts:before { content: '\e803'; } /* '' */